:host {
  display: block;
}

input {
  width: 300px;
}

.ulClass {
  list-style: none !important;
  position: absolute;
  box-shadow: 0 0 3px;
  top: 10px;
  right: 0;
  border-radius: 4px;
  background: #fff;
  padding-left: 0;
  width: 280px;
  z-index: 99;
}

.dropdownItem {
  padding-left: 7px;
}

.dropdownItem:hover {
  cursor: pointer;
  background-color: #bdbdbd;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown::before{
  content: " ";
  position: absolute;
  top: 2px;
  right: 7px;
  height: 2px;
  width: 2px;
  z-index: 99;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown-list {
  position: relative;
  width: 390px;
}