.watch-wrapper {
  background: #2196F3;
  padding: 20px;
  display: block;
  font-family: monospace;
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.1);
}

.watch{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
}

.watch .unit, .watch .sep{
  font-size: 32px;
  color: #FFEB3B;
}